:host {
  display: block;
}

.nexhr-field {
  width: 100%;
}

:host ::ng-deep .nexhr-field .mat-mdc-text-field-wrapper {
  border-radius: var(--radius-md);
  background: var(--color-surface-input);
}

:host ::ng-deep .nexhr-field .mdc-notched-outline__leading,
:host ::ng-deep .nexhr-field .mdc-notched-outline__notch,
:host ::ng-deep .nexhr-field .mdc-notched-outline__trailing {
  border-color: var(--color-border);
}

:host ::ng-deep .nexhr-field.mat-focused .mdc-notched-outline__leading,
:host ::ng-deep .nexhr-field.mat-focused .mdc-notched-outline__notch,
:host ::ng-deep .nexhr-field.mat-focused .mdc-notched-outline__trailing {
  border-color: var(--color-brand-500);
}

:host ::ng-deep .nexhr-field .mat-mdc-form-field-error {
  color: var(--color-danger-500);
}
